<div class="body">
    <div class="login">
        <div class="image-container">
            <img src="../../../assets/login-svgrepo-com.svg" alt="">
        </div>
        <h1>Login!</h1>
        <form class="loginform" [formGroup]="form" (ngSubmit)="login()">
            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input type="text" matInput formControlName="username">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password">
            </mat-form-field>
            <br>
            <button mat-raised-button type="submit" color="primary" [disabled]="form.invalid" >Login</button>
        </form> 
    </div>
</div>
    
