<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Hahn Softwareentwicklung</span>

        <button mat-icon-button (click)="sidenav.toggle();">
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav opened="true" mode="side" style="width: 200px;">
        <mat-nav-list>
            <mat-list-item style="display: flex;" routerLink="/pages/dashboard">
                <mat-icon matListItemIcon>dashboard</mat-icon>
                <div mat-line>Dashboard</div>
            </mat-list-item>

            <mat-list-item routerLink="/pages/hr">
                <mat-icon matListItemIcon>assignment_ind</mat-icon>
                <div mat-line>HR</div>
            </mat-list-item>

            <mat-list-item routerLink="/pages/sales">
                <mat-icon matListItemIcon>attach_money</mat-icon>
                <div mat-line>Sales</div>
            </mat-list-item>

            <mat-list-item routerLink="/pages/buyers">
                <mat-icon matListItemIcon>account_circle</mat-icon>
                <div mat-line>Buyers</div>
            </mat-list-item>

            <mat-list-item routerLink="/pages/cars">
                <mat-icon matListItemIcon>directions_car</mat-icon>
                <div mat-line>Sales</div>
            </mat-list-item>

        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <div style="height: 90vh;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>