<h1 style="margin:20px 0px 0px 40px">Sales</h1>

<mat-card style="margin:20px 40px 40px 40px">

    <mat-card-content>
        <form [formGroup]="carSalesForm" (ngSubmit)="addCarToOrder()">
            <mat-grid-list cols="4" rowHeight="80px">

                <mat-grid-tile [colspan]="2">

                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Car</mat-label>
                        <input matInput formControlName="car" placeholder="Search" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="carForOrder($event)" [displayWith]="showCarName">
                            <mat-option *ngFor="let option of carListFiltered" [value]="option">
                                {{option.brand}} {{option.model}} {{option.year}} 
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field class="full-width" appearance="fill" style="margin-left: 40px">
                        <mat-label>Quantity</mat-label>
                        <input matInput formControlName="quantity" type="number" placeholder="Quantity">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button mat-raised-button color="primary" style="width:80%" [disabled]="!carSalesForm.valid">
                        <mat-icon>add</mat-icon>
                        <span>Add</span>
                    </button>
                </mat-grid-tile>
                 

            </mat-grid-list>
        </form>
    </mat-card-content>

</mat-card>   